/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    background: border-box;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
}

.box {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER */
/* APPUNTI: L'header deve essere fixed e contenere un hover:underline sotto per i nav */

header {
    height: 80px;
    background-image: url(img/logo-small.png);
    background-repeat: no-repeat;
    background-position: top 25px left 10px;
}

    .container {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        text-decoration: none;
    }

    nav a{
        padding-left: 30px;
        text-decoration: none;
        color: black;
    }

    .container nav:first-child{       
        padding-left: 7%;
    }
    
    .container nav:last-child {
        padding-right: 2%;
    }

    #accedi {
        padding-right: 10px;
    }
/* JUMBOTRON */
/* APPUNTI: Forse da cambiare l'altezza in vh */
/* APPUNTI: La freccia deve portare nella schermata sotto "trova il piano business che fa per te" */
.jumbotron {
    height: 650px;
    background-color: #b4c8e1;

}

    .h1-container {
        height: 280px;
        margin: 0 20%;
    }

        .h1-container > h1 {
            padding-top: 50px;
            font-size: 75px;
        }

    .jumbo-container {
        height: calc(100% - 300px);
        margin: 0 20%;
        display: flex;
    }

        .text-right {
            height: 350px;
            width: 30%;
        }

        .text-right > p {
            padding-bottom: 50px;
        }

        #Annulla {
            padding: 50px 0;
        }

        #Freccia {
            font-size: 50px;
            padding: 10px 0;
        }

        .img {
            height: 400px;
            width: 55%;
        }

        .img > img {
            width: 120%;
        }

/* PIANO BUSINESS */
.piano-business {
    height: 1000px;
    margin: 5% 20%;
     /* DEBUG */
    background-color: lightgrey;
}

    .piano-business > h2 {
        margin-bottom: 5%;
        font-size: 40px;
    }

    #mensile > i {
        color: #1e90ff;
    }

    #mensile {
        padding-right: 50px;
    }

    .col {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .row {
        width: 25%;
        height: 700px;
        background-color: lightpink;
        border: 1px solid black;
    }

    .icons {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid black;
    }

    .column-structure-text {
        padding-top: 25px;
        padding-left: 20px;
    }

    .column-structure-text > h4 {
        padding: 15px 0;
    }

    .grey {
        color: grey;
    }

    .tipologia {
        margin-right: 15px;
        padding: 50px 0;
    }

    .separe {
        padding: 20px 0;
    }

    .tipologia .box {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .box a {
        text-decoration: none;
        color: white;
    }
